{% from 'search.html' import search, search_sidebar %}
{% from 'tile.html' import tile, tile_pinned %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ page_name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h3>{{ page_name }}</h3>
            <i>{{ date_now.strftime('%Y-%m-%d %H:%M:%S') }}</i>
            <hr />
            <div id="pinned-container">
                {% for bookmark in bookmarks if bookmark.pin %}
                    {{ tile_pinned(bookmark) }}
                {% endfor %}
            </div>
            <hr />
            {{ search_sidebar(tags) }}
        </div>
        
        
        <div class="content">
            {% include 'search-bar.html' %}
            
            <div id="bookmarks-container">
            {% set current_folder = namespace(value=None) %}
            {% for bookmark in bookmarks if not bookmark.pin %}
                {% if bookmark.folder != current_folder.value %}
                    {% if not loop.first %}
                        </div>
                    {% endif %}
                    
                    <hgroup class="folder-header" onclick="toggleFolder(this)">
                        <span class="arrow">&#9662;</span>
                        <h6>{{ bookmark.folder }}</h6>
                    </hgroup>
                    <div class="folder-group">
                    {% set current_folder.value = bookmark.folder %}
                {% endif %}
                
                {{ tile(bookmark) }}
                
                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>


            

        </div>

    </div>

    <script src="script.js"></script>
</body>
</html>
